.row
  - var num='003'
  .col-md-12
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo#{num}" data-toggle="collapse" style="border:0")
          .date 5/31
          .title
            | CRUEL REASON始動記念
            span.color-red  無料ワンマン
            |  Live
            span(style="font-size: 120%")『我、此処ニ狂エリ。』
            span.caret
      .collapse.panel-body(id="liveinfo#{num}")
        .row
          .col-md-6
            :markdown
              #### 会場
              - 浦和ナルシス
              #### 時間
              - OPEN 18:30  START 19:00
              #### チケット
              - 前売 0円  当日 0円 (2Drink 1000円)
              #### 出演
              - CRUEL REASON
          .col-md-6
            img(src="./img/0531oneman.jpg" alt="5/31ワンマン告知" style="width: 80%")

.row
  - var num='004'
  .col-md-6
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo#{num}" data-toggle="collapse" style="border:0")
          .date 6/5
          .title Z.M.F. PRESENTS 『ジェナイト祭り!!』
            span.caret
      .collapse.panel-body(id="liveinfo#{num}")
        :markdown
          #### 会場
          - 浦和ナルシス
          #### 時間
          - OPEN 14:00  START 14:25
          #### チケット
          - 前売 3000円  当日 3500円 (Drink代別 500円)
          - チケット引き換え 13:30〜 予定
          - チケット発売 浦和Narciss店頭販売(No.1〜シャッフル販売)
          - バンド予約あり
          #### 出演
          - CRUEL REASON
          - DANGER☆GANG
          - [enver]brain
          - ROMiO.
          - RF
          - トシ(From ex.RagEnd)
          - 諦セッション
            - 秀虎(From ex.G.O.ZⅦ/諦)
            - レイト(From ex.G.O.ZⅦ/諦)
            - AKIHISA(From ex.シネマストリップ)
            - 希(From ex.RagEnd)
            - ツトム(From ex.諦)
          - Crawling Chaos
            - Shion(From ex.TesЯoa)
            - nagisa(From -jiji-)
            - Yu-suke(From ex.jack'you)
            - 恭平(From マルコ)
          - チーキィセッション
            - さどん(From ex.チーキィ)
            - カナタ(From ex.チーキィ)
            - YOU(From.ROMiO.)
            - 義鷹(From.ROMiO.)
          - 魃
            - 吐(From ex.針槐-ハリエンジュ-)
            - 移月(From ex.Rivet)
            - 楽(From ex.Rivet)
            - Yu-suke(From ex.jack'you)
            - ヒロ(From ex.VIRULENT)

  - var num='005'
  .col-md-6
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo#{num}" data-toggle="collapse" style="border:0")
          .date 6/18
          .title ワンマン！の勢いでBATTLE!!
            span.caret
      .collapse.panel-body(id="liveinfo#{num}")
        :markdown
          #### 会場
          - 浦和ナルシス
          #### 時間
          - OPEN 17:00  START 17:20
          #### チケット
          - 前売 3000円  当日 3500円 (Drink代別 500円)
          #### 出演
          - CRUEL REASON
          - RAGAROCK
          - Dragon†Hearts
          - マーブル(アンプラグド)
          - type『G』

.row
  - var num='006'
  .col-md-6
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo#{num}" data-toggle="collapse" style="border:0")
          .date 7/31
          .title 〜漆黒のシンフォニー〜
            span.caret
      .collapse.panel-body(id="liveinfo#{num}")
        :markdown
          #### 会場
          - 浦和ナルシス
          ※詳細決定次第更新いたします


  - var num='007'
  .col-md-6
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo#{num}" data-toggle="collapse" style="border:0")
          .date 9/18
          .title Ains PRESENTS「Dark in the dark Vol.44～ジャック in the ハンター2016～」
            span.caret
      .collapse.panel-body(id="liveinfo#{num}")
        :markdown
          #### 会場
          - 浦和ナルシス
          #### 時間
          - OPEN 15:30  START 16:00
          #### チケット
          - 前売 3500円  当日 4000円 (Drink代別 500円)
          - イープラスにて _6/12(日) 10時_ より発売 [購入ページはこちら](http://sort.eplus.jp/sys/T1U14P0010843P006001P002191196P0030001)
          - 当日券(バンド予約はありません)
          - 入場順: イープラス→当日券
          #### 出演
          - CRUEL REASON
          - DANGER☆GANG
          - グリーヴァ
          - ゴシップ
          - Faze
          - ピサロ
          - Ly:lith
          - Enchante
          #### 備考
          - 主催: [Ains](http://ains-a.com)
          - 企画/制作: Ains/MadWink.
          - お問い合わせ: 浦和ナルシス(TEL:048-824-8771)

