//- define mixin
mixin live(num, date, place, title, time, ticket, band)
  .row
    .col-md-4
      .live.panel.panel-default
        .panel-heading
          a.list-group-item(href="#liveinfo#{num}" data-toggle="collapse" style="border:0")
            | #{date}
            | #{place}
            br
            | 『#{title}』
            span.caret
        .collapse.panel-body(id="liveinfo#{num}")
          h4 時間
          p #{time}
          h4 チケット
          p #{ticket}
          h4 出演
          p #{band}

+live('10','1/1','urawa','titletitle','oufoua','ticketdetail','coming soon')

.row
  .col-md-4
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo01" data-toggle="collapse" style="border:0")
          | 4/2 浦和ナルシス
          br
          | 『～漆黒のシンフォニー～』
          span.caret
      #liveinfo01.collapse.panel-body
        h4 時間
        p OPEN 16:30  START 17:00(予定)
        h4 チケット
        p 前売 3000円  当日 3500円 (Drink代別 500円)
        p チケット引き換え16:00～予定
        h4 出演
        p プロジェクトファンタズマ / ベティ / Dear / マルコ / ROMiO. / gezigezi / …and more

  .col-md-4
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo02" data-toggle="collapse" style="border:0")
          | 4/20 浦和ナルシス
          br
          | 『Give off NEW BRIGHTNESS-CRUEL REASON始動-』
          span.caret
      #liveinfo02.collapse.panel-body
        h4 時間
        p OPEN 18:00  START 18:30(予定)
        h4 チケット
        p 前売 3000円  当日 3500円 (Drink代別 500円)
        p チケット引き換え16:30～予定
        h4 出演
        p coming soon.

  .col-md-4
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo03" data-toggle="collapse" style="border:0")
          | 5/4 浦和ナルシス
          br
          | 『Give off NEW BRIGHTNESS-CRUEL REASON mao Birthday-』
          span.caret
      #liveinfo03.collapse.panel-body
        h4 時間
        p 未定
        //h4 チケット
        //p 前売 3000円  当日 3500円 (Drink代別 500円)
        //p チケット引き換え16:30～予定
        //h4 出演
        //p coming soon.

.row
  .col-md-4
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo04" data-toggle="collapse" style="border:0")
          | 5/31 浦和ナルシス
          br
          | CRUEL REASON始動記念無料Oneman Live『我、此処ニ狂エリ。』
          span.caret
      #liveinfo04.collapse.panel-body
        h4 時間
        p OPEN 18:30  START 19:00
        h4 チケット
        p 前売 0円  当日 0円 (2Drink 1000円)

  .col-md-4
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo05" data-toggle="collapse" style="border:0")
          | 6/5 浦和ナルシス
          br
          | Z.M.F. PRESENTS 『ジェナイト祭り!!』
          span.caret
      #liveinfo05.collapse.panel-body
        h4 時間
        p OPEN 15:30  START 16:00
        h4 チケット
        p 前売 3000円  当日 3500円 (Drink代別 500円)
        p チケット引き換え 15:00〜 予定
        p チケット発売 4/24(日) 15:00 浦和Narciss店頭販売(No.1〜シャッフル販売) / バンド予約あり
        h4 出演
        p CRUEL REASON / [evber]brain / DANGER☆GANG / ROMiO. / RF / しょけけ(From RagEnd) / トシ(From RagEnd) / >希(From RagEnd) / ツトム(From 諦) / 秀虎(From G.O.ZⅦ/諦) / レイト(From G.O.ZⅦ/諦) / …and more

  .col-md-4
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo06" data-toggle="collapse" style="border:0")
          :markdown
            12/31 テスト
      #liveinfo06.collapse.panel-body
          :markdown
            #### 時間
            OPEN 16:00
            #### チケット
            前売 10000円
