.row
  - var num='011'
  .col-md-6
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo#{num}" data-toggle="collapse" style="border:0")
          .date 10/9
          .title ～漆黒のシンフォニー～
            span.caret
      .collapse.panel-body(id="liveinfo#{num}")
        :markdown
          #### 会場
          - 浦和ナルシス
          #### 時間
          - OPEN 16:30  START 17:00 (予定)
          #### チケット
          - 前売 3000円  当日 3500円 (Drink代別 500円)
          - チケット引き換え 16:00〜予定
          #### 出演
          - CRUEL REASON
          - [enver]brain
          - 進化型プロジェクト[SKELETON act.1]
          - マルコ
          - Dragon†Hearts
          - 眼鏡ギタァ
          - ..and more

  - var num='012'
  .col-md-6
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo#{num}" data-toggle="collapse" style="border:0")
          .date 10/13
          .title ～漆黒のシンフォニー～ 秋のセッション大会
            span.caret
      .collapse.panel-body(id="liveinfo#{num}")
        :markdown
          #### 会場
          - 浦和ナルシス
          #### 時間
          - OPEN 16:00  START 16:30 (予定)
          #### チケット
          - 前売 3000円  当日 3500円 (Drink代別 500円)
          - チケット引き換え 15:30〜予定
          #### 出演
          - CRUEL REASONセッション
          - [enver]brainセッション
          - Geomatriumセッション
          - DANGER☆GANGセッション
          - ROMiO.セッション
          - 不魅弥セッション
          - トシ(ex.RagEnd)&希(ex.RagEnd)セッション
          - 他

.row
  - var num='013'
  .col-md-6
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo#{num}" data-toggle="collapse" style="border:0")
          .date 10/29
          .title ハローハッピーハロウィン
            span.caret
      .collapse.panel-body(id="liveinfo#{num}")
        :markdown
          #### 会場
          - 浦和ナルシス
          #### 時間
          - OPEN 15:30  START 16:00
          #### チケット
          - 前売 3000円  当日 3500円 (Drink代別 500円)
          - チケット引き換え 15:00〜
          #### 出演
          - CRUEL REASON
          - Geomatrium
          - バレッタ
          - REVIVE
          - CCC.Amaryllis
          - ACHILLES
          - Type『G』
          - ...and more

  - var num='014'
  .col-md-6
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo#{num}" data-toggle="collapse" style="border:0")
          .date 11/6
          .title 妖華乱舞
            span.caret
      .collapse.panel-body(id="liveinfo#{num}")
        :markdown
          #### 会場
          - 浦和ナルシス
          #### 時間
          - OPEN 16:30  START 17:00
          #### チケット
          - 前売 3000円  当日 3500円 (Drink代別 500円)
          - チケット引き換え 16:00〜
          #### 出演
          - CRUEL REASON
          - ROMiO.
          - 22世紀ピコピコ音楽図鑑ハイパーポケット
          - RF
          - ...and more

.row
  - var num='015'
  .col-md-12
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo#{num}" data-toggle="collapse" style="border:0")
          .date 11/20
          .title(style="font-size:16pt") 無料ワンマンライブ 「狂奏 ~キョウソウ~」
            span.caret
      .collapse.panel-body(id="liveinfo#{num}")
        .row
          .col-md-4
            :markdown
              #### 会場
              - 浦和ナルシス
              #### 時間
              - OPEN 12:00  START 12:30
              #### チケット
              - 前売 0円  当日 0円 (Drink代別 500円)
              #### 出演
              - CRUEL REASON
          .col-md-8
            img(src="./img/201611oneman.jpg" width="100%")
