.row
  - var num='002'
  .col-md-6
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo#{num}" data-toggle="collapse" style="border:0")
          .date 5/4
          .title Give off NEW BRIGHTNESS -CRUEL REASON mao Birthday-
            span.caret
      .collapse.panel-body(id="liveinfo#{num}")
        :markdown
          #### 会場
          - 浦和ナルシス
          #### 時間
          - OPEN 17:30  START 18:00
          #### チケット
          - 前売 3000円  当日 3500円 (Drink代別 500円)
          - チケット引き換え 17:00〜
          #### 出演
          - CRUEL REASON
          - ROMiO.
          - FULL EFFECT'
          - YOSUKE

  - var num='003'
  .col-md-6
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo#{num}" data-toggle="collapse" style="border:0")
          .date 5/31
          .title
            | CRUEL REASON始動記念
            span.color-red 無料ワンマン
            | Live『我、此処ニ狂エリ。』
            span.caret
      .collapse.panel-body(id="liveinfo#{num}")
        :markdown
          #### 会場
          - 浦和ナルシス
          #### 時間
          - OPEN 18:30  START 19:00
          #### チケット
          - 前売 0円  当日 0円 (2Drink 1000円)
          #### 出演
          - CRUEL REASON

.row
  - var num='004'
  .col-md-6
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo#{num}" data-toggle="collapse" style="border:0")
          .date 6/5
          .title Z.M.F. PRESENTS 『ジェナイト祭り!!』
            span.caret
      .collapse.panel-body(id="liveinfo#{num}")
        :markdown
          #### 会場
          - 浦和ナルシス
          #### 時間
          - OPEN 15:30  START 16:00
          #### チケット
          - 前売 3000円  当日 3500円 (Drink代別 500円)
          - チケット引き換え 15:00〜 予定
          - チケット発売 4/24(日) 15:00 浦和Narciss店頭販売(No.1〜シャッフル販売) / バンド予約あり
          #### 出演
          - CRUEL REASON
          - [enver]brain
          - DANGER☆GANG
          - RF
          - ROMiO.
          - さどん(Fromチーキィ)
          - カナタ(Fromチーキィ)
          - トシ(From RagEnd)
          - 希(From RagEnd)
          - ツトム(From 諦)
          - 秀虎(From G.O.ZⅦ/諦)
          - レイト(From G.O.ZⅦ/諦)
          - AKIHISA(From シネマストリップ)
          - Shion(From TesЯoa)
          - …and more

  - var num='005'
  .col-md-6
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo#{num}" data-toggle="collapse" style="border:0")
          .date 6/18
          .title ワンマン！の勢いでBATTLE!!
            span.caret
      .collapse.panel-body(id="liveinfo#{num}")
        :markdown
          #### 会場
          - 浦和ナルシス
          #### 時間
          - OPEN 17:30  START 18:00
          #### チケット
          - 前売 3000円  当日 3500円 (Drink代別 500円)
          #### 出演
          - CRUEL REASON
          - Dragon Hearts
          - RAGAROCK
