.row
  - var num='006'
  .col-md-4
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo#{num}" data-toggle="collapse" style="border:0")
          .date 7/31
          .title 〜漆黒のシンフォニー〜
            span.caret
      .collapse.panel-body(id="liveinfo#{num}")
        :markdown
          #### 会場
          - 浦和ナルシス
          #### 時間
          - OPEN 17:00  START l17:30(予定)
          #### チケット
          - 前売 3000円  当日 3500円(Drink代別途 500円)
          - チケット引き換え16:30～予定
          #### 出演
          - CRUEL REASON
          - バラライカ
          - Durandal
          - Type『G』
          - …and more

  - var num='007'
  .col-md-8
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo#{num}" data-toggle="collapse" style="border:0")
          .date 8/17
          .title 漆黒のシンフォニー at 新宿BLAZE
            span.caret
      .collapse.panel-body(id="liveinfo#{num}")
        .row
          .col-md-6
            :markdown
              - [詳細はこちら](./tamakan2016.html)
              #### 会場
              - 新宿BLAZE
              #### 時間
              - OPEN 12:45  START 13:15
              #### チケット
              - 前売 3800円  当日 4500円 (Drink代別 500円)
              #### 出演
              - CRUEL REASON
              - ギガマウス(GUEST)
              - Smileberry(GUEST)
              - VIVALET
              - KISS the CROWN
              - ジャックケイパー
              - スティグマ
              - ぞんび
              - DiSPiИA
              - TRA TRA TRA
              - 魃
              - FAZ
              - マーブル
              - MALISEND
          .col-md-6
            a(href="./img/tamakan2016.jpg")
              img(src="./img/tamakan2016_thumb.jpg" style="width: 70%")

.row
  - var num='008'
  .col-md-6
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo#{num}" data-toggle="collapse" style="border:0")
          .date 9/18
          .title Ains PRESENTS「Dark in the dark Vol.44～ジャック in the ハンター2016～」
            span.caret
      .collapse.panel-body(id="liveinfo#{num}")
        :markdown
          #### 会場
          - 浦和ナルシス
          #### 時間
          - OPEN 15:30  START 16:00
          #### チケット
          - 前売 3500円  当日 4000円 (Drink代別 500円)
          - イープラスにて _6/12(日) 10時_ より発売 [購入ページはこちら](http://sort.eplus.jp/sys/T1U14P0010843P006001P002191196P0030001)
          - 当日券(バンド予約はありません)
          - 入場順: イープラス→当日券
          #### 出演
          - CRUEL REASON
          - DANGER☆GANG
          - グリーヴァ
          - ゴシップ
          - Faze
          - ピサロ
          - Ly:lith
          - Enchante
          #### 備考
          - 主催: [Ains](http://ains-a.com)
          - 企画/制作: Ains/MadWink.
          - お問い合わせ: 浦和ナルシス(TEL:048-824-8771)

