.row
  - var num='009'
  .col-md-6
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo#{num}" data-toggle="collapse" style="border:0")
          .date 9/3
          .title ～漆黒のシンフォニー～
            span.caret
      .collapse.panel-body(id="liveinfo#{num}")
        :markdown
          #### 会場
          - 浦和ナルシス
          #### 時間
          - OPEN 17:00  START 17:30
          #### チケット
          - 前売 3000円  当日 3500円 (Drink代別 500円)
          #### 出演
          - CRUEL REASON
          - バレッタ
          - FAZ
          - 常松久人(from FULL EFFECT')
          - 眼鏡ギタァ

  - var num='010'
  .col-md-6
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo#{num}" data-toggle="collapse" style="border:0")
          .date 9/18
          .title Ains PRESENTS「Dark in the dark Vol.44～ジャック in the ハンター2016～」
            span.caret
      .collapse.panel-body(id="liveinfo#{num}")
        :markdown
          #### 会場
          - 浦和ナルシス
          #### 時間
          - OPEN 15:30  START 16:00
          #### チケット
          - 前売 3500円  当日 4000円 (Drink代別 500円)
          - イープラスにて _6/12(日) 10時_ より発売 [購入ページはこちら](http://sort.eplus.jp/sys/T1U14P0010843P006001P002191196P0030001)
          - 当日券(バンド予約はありません)
          - 入場順: イープラス→当日券
          #### 出演
          - CRUEL REASON
          - DANGER☆GANG
          - グリーヴァ
          - ゴシップ
          - Faze
          - ピサロ
          - Ly:lith
          - Enchante
          #### 備考
          - 主催: [Ains](http://ains-a.com)
          - 企画/制作: Ains/MadWink.
          - お問い合わせ: 浦和ナルシス(TEL:048-824-8771)

.row
  - var num='011'
  .col-md-6
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo#{num}" data-toggle="collapse" style="border:0")
          .date 10/9
          .title タイトル未定
            span.caret
      .collapse.panel-body(id="liveinfo#{num}")
        :markdown
          #### 会場
          - 浦和ナルシス
          #### その他
          - 詳細発表され次第UPいたします

  - var num='012'
  .col-md-6
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo#{num}" data-toggle="collapse" style="border:0")
          .date 10/13
          .title ～漆黒のシンフォニー～ セッション大会
            span.caret
      .collapse.panel-body(id="liveinfo#{num}")
        :markdown
          #### 会場
          - 浦和ナルシス
          #### 時間
          - OPEN 未定  START 未定
          #### チケット
          - 前売 3000円  当日 3500円 (Drink代別 500円)
          #### 出演
          - CRUEL REASON
          - [enver]brain
          - Geomatrium
          - DANGER☆GANG
          - ROMiO.
          - RAVIセッション
          - トシ&希セッション
          - 他後日発表

.row
  - var num='013'
  .col-md-6
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo#{num}" data-toggle="collapse" style="border:0")
          .date 10/29
          .title タイトル未定
            span.caret
      .collapse.panel-body(id="liveinfo#{num}")
        :markdown
          #### 会場
          - 浦和ナルシス
          #### その他
          - 詳細発表され次第UPいたします

