.row
  - var num='015'
  .col-md-12
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo#{num}" data-toggle="collapse" style="border:0")
          .date 11/20
          .title(style="font-size:16pt") 無料ワンマンライブ 「狂奏 ~キョウソウ~」
            span.caret
      .collapse.panel-body(id="liveinfo#{num}")
        .row
          .col-md-4
            :markdown
              #### 会場
              - 浦和ナルシス
              #### 時間
              - OPEN 12:00  START 12:30
              #### チケット
              - 前売 0円  当日 0円 (Drink代別 500円)
              #### 出演
              - CRUEL REASON
          .col-md-8
            img(src="./img/201611oneman.jpg" width="100%")
.row
  - var num='016'
  .col-md-6
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo#{num}" data-toggle="collapse" style="border:0")
          .date 12/11
          .title タイトル未定
            span.caret
      .collapse.panel-body(id="liveinfo#{num}")
        .row
          .col-md-12
            :markdown
              #### 会場
              - 浦和ナルシス
              #### 詳細
              - 決定次第更新致します

  - var num='017'
  .col-md-6
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo#{num}" data-toggle="collapse" style="border:0")
          .date 12/29
          .title タイトル未定
            span.caret
      .collapse.panel-body(id="liveinfo#{num}")
        .row
          .col-md-12
            :markdown
              #### 会場
              - 浦和ナルシス
              #### 詳細
              - 決定次第更新致します
