.row
  - var num='001'
  .col-md-6
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo#{num}" data-toggle="collapse" style="border:0")
          .date 4/20
          .title Give off NEW BRIGHTNESS - CRUEL REASON始動 -
            span.caret
      .collapse.panel-body(id="liveinfo#{num}")
        :markdown
          #### 会場
          - 浦和ナルシス
          #### 時間
          - OPEN 18:00  START 18:30(予定)
          #### チケット
          - 前売 3000円  当日 3500円 (Drink代別 500円)
          - チケット引き換え16:30～予定
          #### 出演
          - coming soon.

  - var num='002'
  .col-md-6
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo#{num}" data-toggle="collapse" style="border:0")
          .date 5/4
          .title Give off NEW BRIGHTNESS-CRUEL REASON mao Birthday-
            span.caret
      .collapse.panel-body(id="liveinfo#{num}")
        :markdown
          #### 会場
          - 浦和ナルシス
          #### 時間
          - 未定
          #### チケット
          - 未定
          #### 出演
          - coming soon.

.row
  - var num='003'
  .col-md-6
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo#{num}" data-toggle="collapse" style="border:0")
          .date 5/31
          .title CRUEL REASON始動記念無料Oneman Live『我、此処ニ狂エリ。』
            span.caret
      .collapse.panel-body(id="liveinfo#{num}")
        :markdown
          #### 会場
          - 浦和ナルシス
          #### 時間
          - OPEN 18:30  START 19:00
          #### チケット
          - 前売 0円  当日 0円 (2Drink 1000円)

  - var num='004'
  .col-md-6
    .live.panel.panel-default
      .panel-heading
        a.list-group-item(href="#liveinfo#{num}" data-toggle="collapse" style="border:0")
          .date 6/5
          .title Z.M.F. PRESENTS 『ジェナイト祭り!!』
            span.caret
      .collapse.panel-body(id="liveinfo#{num}")
        :markdown
          #### 会場
          - 浦和ナルシス
          #### 時間
          - OPEN 15:30  START 16:00
          #### チケット
          - 前売 3000円  当日 3500円 (Drink代別 500円)
          - チケット引き換え 15:00〜 予定
          - チケット発売 4/24(日) 15:00 浦和Narciss店頭販売(No.1〜シャッフル販売) / バンド予約あり
          #### 出演
          - CRUEL REASON / [evber]brain / DANGER☆GANG / ROMiO. / RF / しょけけ(From RagEnd) / トシ(From RagEnd) / >希(From RagEnd) / ツトム(From 諦) / 秀虎(From G.O.ZⅦ/諦) / レイト(From G.O.ZⅦ/諦) / …and more

