doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(name="keywords" content="くるえり,クルエリ,クルーエルリーズン,ナルシス,浦和ナルシス,ジェナイト,V系,女形,V-kei")
    meta(name="description" content="Visual Rock Band \"CRUEL REASON\" 公式ウェブサイト")
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=yes')
    title CRUEL REASON Official Website
    // library
    link(rel='stylesheet' href='lib/bootstrap-3.3.6-dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='lib/slick-1.5.9/slick/slick.css')
    link(rel='stylesheet' href='lib/slick-1.5.9/slick/slick-theme.css')
    //link(rel='stylesheet' href='lib/animate.css')
    script(type='text/javascript' src='lib/jquery-1.12.2.min.js')
    //-- 自前ソースは最後に読み込む
    link(rel='stylesheet' href='./index.css')

  body

    #background-hack

    //------------------------------------
    // Header
    //------------------------------------
    #header
      .container
        .row
          .col-md-12
            .navbar.navbar-fixed-top
              .navbar-header
                button.navbar-toggle(type='button' data-toggle='collapse' data-target='#gnavi')
                  span.menubutton.glyphicon.glyphicon-menu-hamburger
              #gnavi.collapse.navbar-collapse
                ul.menubody.nav.navbar-nav
                  li
                    a(href="#" "data-scroll") Top
                  li
                    a(href="#information" "data-scroll") Information
                  li
                    a(href="#live" "data-scroll") Live
                  li
                    a(href="#discography" "data-scroll") Discography
                  li
                    a(href="#member" "data-scroll") Member
                  li
                    a(href="#contact" "data-scroll") Contact

    //------------------------------------
    // h1 title
    //------------------------------------
    #cruelreasonofficialwebsite
      .container
        .row
          .col-md-12
            h1
              span
                | CRUEL REASON
              br
              | Official Website

    //------------------------------------
    // Contents
    //------------------------------------
    #contents
      .container
        .row
          .col-md-12
            .photoview.slider
              .contents-image
                img.maxwidth(src="./img/201705_all.jpg")
              .contents-image
                img.maxwidth(src="./img/201705_3rd-oneman.jpg")
              .contents-image
                img.maxwidth(src="./img/mugen.jpg")


    //------------------------------------
    // Movie
    //------------------------------------
    #movie
      .container
        .row
          .col-md-6.col-md-offset-3
            // 2nd
            iframe(width="560" height="315" src="https://www.youtube.com/embed/sZ21CWxQEQY" frameborder="0" allowfullscreen style="width:100%")
            // 1st
            // iframe(width="560" height="315" src="https://www.youtube.com/embed/PEOCj2eSNQs" frameborder="0" allowfullscreen style="width:100%")

    //------------------------------------
    // Informatin
    //------------------------------------
    #information
      .container
        .row
          .col-md-12
            h2.text-center Information
        .row
          .col-md-12
            a.twitter-timeline(
              href="https://twitter.com/cruel_reason"
              data-widget-id="721699534041026560"
              data-chrome="transparent"
              data-height="500"
              data-width="600"
              )


    //------------------------------------
    // Live
    //------------------------------------
    #live
      .container
        .row
          .col-md-12
            h2.text-center Live Schedule
        include _live


    //------------------------------------
    // Ticket Reservation
    //------------------------------------
    #ticket
      .container
        .row
          .col-md-12
            h2.text-center Ticket Reservation
            a(href="https://form.jotform.me/60470680579463")
              p.text-center チケットのご予約はこちら
            p.text-center (別Windowが開きます)


    //------------------------------------
    // Discography
    //------------------------------------
    #discography
      .container
        .row
          .col-md-12
            h2.text-center Discography
        #disc.text-right
          // ----- 夢幻泡影
          .row.bottom10px
            .col-md-12
          .row.bottom10px
            .col-md-5.bottom10px
              a(href="./img/jacket/mugen_jacket.png" target="_blank")
                img(src="./img/jacket/mugen_jacket_s.png")
              h3 1st Mini Album
                br
                strong 夢幻泡影
              br
              ul(style="list-style:none;font-size:12pt")
                li 1. ∞
                li 2. Gimlet
                li 3. the season
                li 4. 欠落少女
                li 5. COLOR
              a(href="https://hearthis.at/cruel-reason/set/52282-5015992/" style="color:red") 試聴(外部リンク)
              br
              br
              ul(style="list-style:none")
                li 商品番号 AZMF-3097
                li 価格 2160円(税込)
                li 発売元/販売元 有限会社ジェナイトミュージックファクトリー
              br
              p ライブ会場物販にて販売中

            // ----- 狂深層目録
            .col-md-5.bottom10px
              a(href="./img/jacket/2nd_jacket.png" target="_blank")
                img(src="./img/jacket/2nd_jacket_s.png")
              h3 2nd Mini Album
                br
                strong 狂深層目録
              br
              ul(style="list-style:none;font-size:12pt")
                li 1. 虚絶
                li 2. 心傷
                li 3. Algorithmic Society
                li 4. CREATURE
                li 5. 幻添雨
              a(href="https://hearthis.at/cruel-reason/set/63253-5015992/" style="color:red") 試聴(外部リンク)
              br
              br
              ul(style="list-style:none")
                li 商品番号 AZMF-3105
                li 価格 2160円(税込)
                li 発売元/販売元 有限会社ジェナイトミュージックファクトリー
              br
              p ライブ会場物販にて販売中

    //------------------------------------
    // Member
    //------------------------------------
    #member
      .container
        .row
          .col-md-12
            h2.text-center Member
        include _member


    //------------------------------------
    // Mail Magazine
    //------------------------------------
    #mailmagazine
      .container
        .row
          .col-md-12
            h2.text-center Mail Magazine
            p.text-center ライブ当日情報、メンバーコメントや最新情報の不定期便・毎月20日のライブ情報などをメールにて配信しています。
            p.text-center
              | 件名
              span.text-danger メルマガ希望
              | として
              br
              input.copyable(value="cruel-reason@zmf.co.jp")
              br
              | に空メールを送信してください。
            p.text-center メルマガは info@zmf.co.jp より配信されますので、受信できるようメール設定をご確認ください。


    //------------------------------------
    // Contact
    //------------------------------------
    #contact
      .container
        .row
          .col-md-12.text-center
            h2 Contact
            h4 お問い合わせ・出演依頼・ファンレター等
            p 〒330-0063
              br
              | 埼玉県さいたま市浦和区高砂2-1-5
              br
              | Zёnit Music Factory (ジェナイト・ミュージック・ファクトリー)
            p
              | TEL：048-824-0647 (Live House Narciss)
              br
              | Mail:
              input.copyable(value="cruel-reason@zmf.co.jp")
              br
        .row
          .col-md-12.text-center
            h4 当ウェブサイト内容に関するお問い合わせ
            input.copyable(value="cruel.reason.official[at]gmail.com" style="color:#555; width:160px")
            p [at]をアットマークに置き換えて下さい。
            p
              a(href="https://twitter.com/cruel_reason") 公式Twitter
              | へのDM, Reply等でも承ります。


    //------------------------------------
    // Footer
    //------------------------------------
    #footer
      .container
        .row
          .col-md-12
            p.text-right
              | &copy;Copyright 2016
              br
              a(href="http://zmf.co.jp" style="padding: 0 3px") Zënit Music Factory
              | and CRUEL REASON All rights reserved.


    //------------------------------------
    // Analytics
    //------------------------------------
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-48994049-2', 'auto');
      ga('send', 'pageview');

    //------------------------------------
    // JS Library
    //------------------------------------
    script(type='text/javascript' src='lib/bootstrap-3.3.6-dist/js/bootstrap.min.js')
    script(type='text/javascript' src='lib/smooth-scroll-master/dist/js/smooth-scroll.min.js')
    script(type='text/javascript' src='lib/slick-1.5.9/slick/slick.min.js')
    script(type='text/javascript' src='./index.js')

    //- twitter widget
    script
      | !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

    // web fonts
    link(href='https://fonts.googleapis.com/css?family=Eater|Merriweather|Noto+Sans' rel='stylesheet' type='text/css')
